<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout}">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>

</head>
<!-- <main> -->
<main layout:fragment="content">
    <div class="main-wrapper">
        <div class="profile-banner-large bg-img" data-bg="assets/images/banner/profile-banner.jpg">
        </div>
        <div class="profile-menu-area bg-white" style="min-height: 90vh;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-3">
                        <div class="profile-picture-box">
                            <figure class="profile-picture">
                                <a href="profile.html">
                                    <img th:src="@{${groupChosen.avatar}}" alt="profile picture">
                                </a>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 offset-lg-1">
                        <div class="profile-menu-wrapper">
                            <div class="main-menu-inner header-top-navigation">
                                <nav class="custom-scroll">
                                    <ul class="main-menu">
                                        <li class="active"><a th:href="@{|/groups/${groupChosen.id}|}">timeline</a></li>
                                        <li><a href="about.html">Thông tin</a></li>
                                        <li><a th:href="@{|/groups/${groupChosen.id}/member|}">Thành viên</a></li>
                                        <!-- <li><a href="friends.html">friends</a></li> -->
                                        <!-- <li><a href="about.html">more</a></li> -->
                                        <!-- <li class="d-inline-block d-md-none"><a href="profile.html">edit profile</a></li> -->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 order-1 order-lg-2 d-flex justify-content-center">
                        <!-- share box start -->
                        <div class="card card-small" style="width: 80%;">
                            <!-- post status start -->
                            <h3 class="d-flex justify-content-center">Danh sách bài viết cần duyệt</h3>
                            <div class="d-flex justify-content-center">
                                <!-- share box start -->
                                <div class="card mt-5 w-100">
                                    <div th:if="${listReviewPost.size() == 0}">
                                        <h3 class="d-flex justify-content-center text-danger">Không có bài viết cần
                                            duyệt</h3>
                                    </div>
                                    <div th:unless="${listReviewPost.size() == 0}" th:each="post : ${listReviewPost}">
                                        <div class="card">
                                            <!-- post title start -->
                                            <div class="post-title d-flex align-items-center">
                                                <!-- profile picture start -->
                                                <div class="profile-thumb">
                                                    <a href="#">
                                                        <figure class="profile-thumb-middle">
                                                            <img th:src="@{${post.sender.avatar}}"
                                                                alt="profile picture">
                                                        </figure>
                                                    </a>
                                                </div>
                                                <!-- profile picture end -->

                                                <div class="posted-author">
                                                    <h6 class="author d-flex align-items-center">
                                                        <a th:href="@{|/profile/${post.sender.id}|}"
                                                            th:text="${post.sender.fullName}"></a>
                                                    </h6>
                                                    <span class="post-time"
                                                        th:text="${#temporals.format(post.timestamp, 'dd-MM-yyyy HH:mm')}">35
                                                        min
                                                        ago</span>
                                                </div>
                                            </div>
                                            <!-- post title end -->

                                            <div class="post-content">
                                                <p th:utext="${post.content}" class="post-desc"></p>
                                                <div
                                                    th:if="${post.images.size() + post.videos.size() == 1 || post.images.size() + post.videos.size() == 0}">
                                                    <div class="post-thumb-gallery">
                                                        <figure class="post-thumb img-popup"
                                                            th:each="image : ${post.images}">
                                                            <a th:href="'../../'+${image.url}">
                                                                <img width="510px" height="270px"
                                                                    th:src="'../../'+${image.url}" alt="post image">
                                                            </a>
                                                        </figure>
                                                        <figure class="post-thumb img-popup"
                                                            th:each="video : ${post.videos}">
                                                            <video width="510px" height="270px" controls
                                                                th:src="'../../'+${video.url}" alt="post video"></video>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div th:if="${post.images.size() + post.videos.size() == 2}">
                                                    <div class="post-thumb-gallery img-gallery">
                                                        <div class="row no-gutters">
                                                            <div class="col-6 d-flex align-items-center justify-content-center"
                                                                th:each="image : ${post.images}">
                                                                <figure class="post-thumb mx-1">
                                                                    <a class="gallery-selector"
                                                                        th:href="'../../'+${image.url}">
                                                                        <img width="255px" height="270px"
                                                                            th:src="'../../'+${image.url}"
                                                                            alt="post image">
                                                                    </a>
                                                                </figure>
                                                            </div>
                                                            <div class="col-6 d-flex align-items-center justify-content-center"
                                                                th:each="video : ${post.videos}">
                                                                <figure class="post-thumb">
                                                                    <video style="object-fit: cover" width="255px"
                                                                        height="270px" controls
                                                                        th:src="'../../'+${video.url}"
                                                                        alt="post video"></video>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div th:if="${post.images.size() == 4}">
                                                    <div class="post-thumb-gallery img-gallery">
                                                        <div class="row no-gutters">
                                                            <div
                                                                class="col-6 d-flex align-items-center justify-content-center">
                                                                <figure class="post-thumb mx-1">
                                                                    <a class="gallery-selector"
                                                                        th:href="'../../'+${post.images.get(0).url}">
                                                                        <img width="339px" height="270px"
                                                                            th:src="'../../'+${post.images.get(0).url}"
                                                                            alt="post image">
                                                                    </a>
                                                                </figure>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="row">
                                                                    <div class="col-12"
                                                                        th:each="image, iter : ${post.images}">
                                                                        <div th:if="${iter.index != 0}">
                                                                            <figure class="post-thumb">
                                                                                <a class="gallery-selector"
                                                                                    th:href="'../../'+${image.url}">
                                                                                    <img width="170px" height="90px"
                                                                                        th:src="'../../'+${image.url}"
                                                                                        alt="post image">
                                                                                </a>
                                                                            </figure>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-center">
                                                <div class="mx-4 d-flex">
                                                    <form th:action="@{/groups/approve-post}" method="post">
                                                        <input type="hidden" th:name="idPost" th:value="${post.id}">
                                                        <input type="hidden" th:name="idGroup"
                                                            th:value="${groupChosen.id}">
                                                        <button style="background-color: green;"
                                                            class="btn text-white p-3 mr-2" type="submit">Đồng
                                                            ý</button>
                                                    </form>

                                                    <form th:action="@{/groups/reject-post}" method="post">
                                                        <input type="hidden" th:name="idPost" th:value="${post.id}">
                                                        <input type="hidden" th:name="idGroup"
                                                            th:value="${groupChosen.id}">
                                                        <button style="background-color: red;"
                                                            class="btn text-white p-3 ml-2" type="submit">Từ
                                                            chối</button>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <!-- post status end -->
                        </div>
                        <!-- share box end -->
                    </div>
                </div>
            </div>
        </div>


        <!-- Scroll to top start -->
        <div class="scroll-top not-visible">
            <i class="bi bi-finger-index"></i>
        </div>
        <!-- Scroll to Top End -->
        <script th:inline="javascript">
            $(document).ready(function () {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "swing",
                    "showMethod": "slideDown",
                    "hideMethod": "slideUp"
                };
                var mainMessage = /*[[${message != null ? message : 'null'}]]*/ 'null';
                var subMessage = /*[[${subMessage != null ? subMessage : 'null'}]]*/ 'null';

                if (mainMessage !== 'null') {
                    if (subMessage !== 'null') {
                        toastr.success(subMessage, mainMessage);
                    } else {
                        toastr.success(mainMessage);
                    }
                }

            });

            // custom-ckeditor-config.js
            ClassicEditor
                .create(document.querySelector('#editor'), {
                    toolbar: {
                        items: [
                            'heading', '|',
                            'bold', 'italic', 'link', '|',
                            'bulletedList', 'numberedList', '|',
                            'blockQuote', '|',
                            'undo', 'redo'
                        ]
                    },
                    link: {
                        decorators: {
                            isExternal: {
                                mode: 'manual',
                                label: 'Open in a new tab',
                                attributes: {
                                    target: '_blank',
                                    rel: 'noopener noreferrer'
                                }
                            }
                        }
                    },
                    // Allow all HTML content
                    htmlSupport: {
                        allow: [
                            {
                                name: /.*/,
                                attributes: true,
                                classes: true,
                                styles: true
                            }
                        ],
                        disallow: []
                    }
                })
                .catch(error => {
                    console.error(error);
                });
        </script>
</main>

</html>