<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout}">

<head>
    <title>Review Posts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>

<body>
    <main layout:fragment="content">
        <!-- post status start -->

        <div class="d-flex justify-content-center">
            <!-- share box start -->
            <div class="card mt-5" style="width: 60%;">
                <h1 class="d-flex justify-content-center m-4 p-4">Danh sách bài viết kiểm duyệt cho nhóm <span
                        class="text-danger ml-2" th:text="${group.name}"></span></h1>

                <!-- post status start -->
                <div th:each="post : ${listReviewPost}">
                    <div class="card">
                        <div class="row">
                            <div class="col-8">
                                <!-- post title start -->
                                <div class="post-title d-flex align-items-center">
                                    <!-- profile picture start -->
                                    <div class="profile-thumb">
                                        <a href="#">
                                            <figure class="profile-thumb-middle">
                                                <img th:src="@{${post.sender.avatar}}" alt="profile picture">
                                            </figure>
                                        </a>
                                    </div>
                                    <!-- profile picture end -->

                                    <div class="posted-author">
                                        <h6 class="author d-flex align-items-center">
                                            <a th:href="@{|/profile/${post.sender.id}|}"
                                                th:text="${post.sender.fullName}"></a>
                                        </h6>
                                        <span class="post-time"
                                            th:text="${#temporals.format(post.timestamp, 'dd-MM-yyyy HH:mm')}">35 min
                                            ago</span>
                                    </div>
                                </div>
                                <!-- post title end -->

                                <div class="post-content">
                                    <p th:utext="${post.content}" class="post-desc"></p>
                                    <div
                                        th:if="${post.images.size() + post.videos.size() == 1 || post.images.size() + post.videos.size() == 0}">
                                        <div class="post-thumb-gallery">
                                            <figure class="post-thumb img-popup" th:each="image : ${post.images}">
                                                <a th:href="'../../'+${image.url}">
                                                    <img width="510px" height="270px" th:src="'../../'+${image.url}"
                                                        alt="post image">
                                                </a>
                                            </figure>
                                            <figure class="post-thumb img-popup" th:each="video : ${post.videos}">
                                                <video width="510px" height="270px" controls
                                                    th:src="'../../'+${video.url}" alt="post video"></video>
                                            </figure>
                                        </div>
                                    </div>
                                    <div th:if="${post.images.size() + post.videos.size() == 2}">
                                        <div class="post-thumb-gallery img-gallery">
                                            <div class="row no-gutters">
                                                <div class="col-6 d-flex align-items-center justify-content-center"
                                                    th:each="image : ${post.images}">
                                                    <figure class="post-thumb mx-1">
                                                        <a class="gallery-selector" th:href="'../../'+${image.url}">
                                                            <img width="255px" height="270px"
                                                                th:src="'../../'+${image.url}" alt="post image">
                                                        </a>
                                                    </figure>
                                                </div>
                                                <div class="col-6 d-flex align-items-center justify-content-center"
                                                    th:each="video : ${post.videos}">
                                                    <figure class="post-thumb">
                                                        <video style="object-fit: cover" width="255px" height="270px"
                                                            controls th:src="'../../'+${video.url}"
                                                            alt="post video"></video>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${post.images.size() == 4}">
                                        <div class="post-thumb-gallery img-gallery">
                                            <div class="row no-gutters">
                                                <div class="col-6 d-flex align-items-center justify-content-center">
                                                    <figure class="post-thumb mx-1">
                                                        <a class="gallery-selector"
                                                            th:href="'../../'+${post.images.get(0).url}">
                                                            <img width="339px" height="270px"
                                                                th:src="'../../'+${post.images.get(0).url}"
                                                                alt="post image">
                                                        </a>
                                                    </figure>
                                                </div>
                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-12" th:each="image, iter : ${post.images}">
                                                            <div th:if="${iter.index != 0}">
                                                                <figure class="post-thumb">
                                                                    <a class="gallery-selector"
                                                                        th:href="'../../'+${image.url}">
                                                                        <img width="170px" height="90px"
                                                                            th:src="'../../'+${image.url}"
                                                                            alt="post image">
                                                                    </a>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 d-flex align-items-center">
                                <div class="mx-4 d-flex">
                                    <form th:action="@{/groups/approve-post}" method="post">
                                        <input type="hidden" th:name="idPost" th:value="${post.id}">
                                        <input type="hidden" th:name="idGroup" th:value="${group.id}">
                                        <button style="background-color: green;" class="btn text-white p-4 mr-2"
                                            type="submit">Đồng ý</button>
                                    </form>

                                    <form th:action="@{/groups/reject-post}" method="post">
                                        <input type="hidden" th:name="idPost" th:value="${post.id}">
                                        <input type="hidden" th:name="idGroup" th:value="${group.id}">
                                        <button style="background-color: red;" class="btn text-white p-4 ml-2"
                                            type="submit">Từ chối</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <!-- post status end -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script th:inline="javascript">
            $(document).ready(function () {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "swing",
                    "showMethod": "slideDown",
                    "hideMethod": "slideUp"
                };
                var successMessage = /*[[${message}]]*/ null;
                if (successMessage) {
                    toastr.success(successMessage);
                }
            });
        </script>
    </main>
</body>

</html>