<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout}">

<head>
    <title>Lời mời kết bạn</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <style>
        div.fixed {
            position: fixed;
            margin-top: 0;
            bottom: 15px;
            right: 10px;
            width: 300px;
            border: 5px solid #73AD21;
        }
    </style>
</head>

<body>
    <main layout:fragment="content">
        <div style="margin-top: 100px; width:40%" class="container">
            <h2 class="mt-4 mb-3">Lời mời kết bạn<span class="text-danger" th:text="${query}"></span></h2>
            <div th:if="${friendRequestList.size() == 0}">
                <h3>Bạn chưa có lời mời kết bạn nào🥲🥲 Hãy đi kết bạn thôi nào!!!</h3>
            </div>
            <div class="row my-2" th:each="user : ${friendRequestList}">
                <a th:href="@{|profile/${user.requester.id}|}" class="list-group-item list-group-item-action p-4">
                    <div class="row">
                        <div class="col-2 mx-3">
                            <img th:src="@{|${user.requester.avatar}|}" alt="Avatar" class="rounded-circle"
                                style="width: 80px; height: 80px;">
                        </div>
                        <div class=" col-5 d-flex align-items-center">
                            <div>
                                <strong th:text="${user.requester.fullName}" class="ml-3 bold">Tên người dùng</strong>
                                <p th:text="${user.requester.bio}" class="ml-3 bold">Bio</p>
                            </div>
                        </div>
                        <div class="col-4 d-flex align-items-center">
                            <div class="mx-4 d-flex">
                                <form th:action="@{|/add-friend/accept-request|}" method="post">
                                    <input type="hidden" name="idUserHasBeenAccepted" th:value="${user.requester.id}">
                                    <button style="background-color: green;" class="btn text-white p-2 mr-2"
                                        type="submit">Đồng ý</button>
                                </form>
                                <form th:action="@{/add-friend/reject-request}" method="post">
                                    <input type="hidden" name="idUserHasBeenReject" th:value="${user.requester.id}">
                                    <button style="background-color: red;" class="btn text-white p-2 ml-2"
                                        type="submit">Từ chối</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script th:inline="javascript">
            $(document).ready(function () {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "swing",
                    "showMethod": "slideDown",
                    "hideMethod": "slideUp"
                };
                var successMessage = /*[[${message}]]*/ null;
                if (successMessage) {
                    toastr.success(successMessage);
                }
            });
        </script>
    </main>

</body>

</html>